.menu_holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    padding: 5px 15px;
}

.menu_icon {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    /* background-color: blue; */
}
